body {
    font-family: 'Arial', sans-serif;
    background-color: #f8f9fa;
}

.container {
    background-color: #ffffff;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.table {
    border-collapse: separate;
    border-spacing: 0 10px;
}

th,
td {
    vertical-align: middle;
}

th {
    background-color: #343a40;
    color: #ffffff;
    font-weight: 600;
}

td {
    background-color: #f8f9fa;
    color: #333;
}

.table th,
.table td {
    border: none;
}

.table-hover tbody tr:hover {
    background-color: #e2e6ea;
}

.table-striped tbody tr:nth-of-type(odd) {
    background-color: #f0f3f5;
}

.rating {
    font-size: 1.2rem;
    color: #ffc107;
}

.fa-star {
    font-size: 1.5rem;
}